
<h2> You are correct! </h2>

<p><%= link_to "<button>I will play again</button>".html_safe, home_index_path, :id => "button_id", :class => "button_class" %></p>

<h2> This little brown baby is called Fluffball! </h2>


<p><%=image_tag("cutebrowncat.jpg", alt: "Example Image", height: "642",  width: "542")%></p>
