<h1>Welcome to AnimalBot! I want to play a little game...</h1>
<%=image_tag("rhino.png", alt: "Example Image")%>

<h1>Hello, I am brown and furry, what am I?</h1>


<%= link_to "Pretty sure this furry creature is a cat", cat_path %>

<%= link_to "Definitely think it has to be a dog", dog_path %>

<%= link_to "There is no way this is not a rabbit", rabbit_path %>
