<h1> Too bad!...but I'll let you try again ;) </h1>


<p><%= link_to "<button>Then it is a cute little bunny</button>".html_safe, lost_path, :id => "button_id", :class => "button_class" %></p>

<p><%= link_to "<button>OK it has to be a cat</button>".html_safe, cat_path, :id => "button_id", :class => "button_class" %></p>


<p><%=image_tag("saddog.jpg", alt: "Example Image")%></p>
